@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Capenexis Data Solutions Details</h1>
    <p>Click <a href="https://localhost:7081/Learners">here</a>.for Level 4 details</p>
    <p>Click <a href="https://localhost:7081/LevelFiveLearners">here</a>.for Level 5 details</p>
    <p>Click <a href="https://localhost:7081/Facilitators">here</a>.for Facilitators details</p>
</div>
